@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "alt-screen-header.css";
@import "user-component.css";
@import "badge.css";
@import "icon-row.css";
@import "no-mobile.css";

/* Screens */
@import "login.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
